# local::lib
PATH="/home/{{ cpan_user }}/perl5/bin${PATH:+:${PATH}}"; export PATH;
PERL5LIB="/home/{{ cpan_user }}/perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}"; export PERL5LIB;
PERL_LOCAL_LIB_ROOT="/home/{{ cpan_user }}/perl5${PERL_LOCAL_LIB_ROOT:+:${PERL_LOCAL_LIB_ROOT}}"; export PERL_LOCAL_LIB_ROOT;
PERL_MB_OPT="--install_base \"/home/{{ cpan_user }}/perl5\""; export PERL_MB_OPT;
PERL_MM_OPT="INSTALL_BASE=/home/{{ cpan_user }}/perl5"; export PERL_MM_OPT;

# CPAN with SQLite database
CPAN_SQLITE_NO_LOG_FILES=1; export CPAN_SQLITE_NO_LOG_FILES
CPAN_SQLITE_LOG_FILES_CLEANUP=1; export CPAN_SQLITE_LOG_FILES_CLEANUP

# CPAN:Reporter::Smoker
AUTOMATED_TESTING=1; export AUTOMATED_TESTING
PERL_MM_USE_DEFAULT=1; export PERL_MM_USE_DEFAULT
PERL_EXTUTILS_AUTOINSTALL=1; export PERL_EXTUTILS_AUTOINSTALL

PREFS_DIR="${HOME}/cpan-openbsd-smoker"

function start_smoker {
    echo 'Cleaning up previous executions...'
    cp /mnt/cpan_build_dir/${USER}/*-0.yml /home/goku/.cpan/build/
    rm -rf ${HOME}/.cpan/sources/authors/id ${HOME}/.cpan/FTPstats.yml*
    rm -rf /mnt/cpan_build_dir/${USER}/*
    cp /home/goku/.cpan/build/*.yml /mnt/cpan_build_dir/goku/
    if [ -d "${PREFS_DIR}" ]; then echo 'Refreshing distroprefs...'; cd ${PREFS_DIR}; git pull; cd ..; fi
    perl -MCPAN::Reporter::Smoker -e 'start(clean_cache_after => 50, install => 1)'
}

alias vi='vim'
